.project-container{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-size: 2rem;
    min-height: 100vmin;
}

.project-container span{
    font-size: 1.2rem;
}

.project-images{
    margin: 3rem;
    width: 15rem;
    height: 30rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    margin-left: 3rem;
    background: #E6E6E6;
}

.project-images:hover{
    box-shadow: 2px 2px 15px 10px rgb(0,0,0,0.2);
    transition: box-shadow 0.5s ease-out;
}


.project-image{
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-out;
}

.img-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 76px;
}

.project-image:hover{
    transform: scale(1.02);
}