.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 500px;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0); /** initialy visible */
}

.sideBar.hidden {
  transform: translateX(-100%); /* Slide out of view when hidden */
}

.mainContentArea {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .sideBar {
    width: 300px; /* Reduce sidebar width for smaller screens */
  }

  .mainContentArea {
    margin-left: 0; /* Main content spans full width on smaller screens */
  }
}

@media (max-width: 480px) {
  .sideBar {
    width: 250px; /* Further reduce sidebar width for very small screens */
  }
}
