.hoverText {
  --s: 0.2em; /* the thickness of the line */
  --c: var(--primary); /* the color */

  color: var(--hover-transparent);
  padding-bottom: var(--s);
  background: linear-gradient(
        90deg,
        var(--c) 50%,
        var(--black-white-transparent) 0
      )
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s ease-out;
}
.hoverText:hover {
  --_p: 100%;
}

.hoverText {
  cursor: pointer;
}
